<div style="padding:5px;height:100%;">
  <h5 style="text-align:center;height:6%;">{{ title }}</h5>
  <h5 style="text-align:center;height:6%;">Local: {{ counter }} & State: {{ $state.counter }} & {{ selected }}</h5>
  <ul class="kui-list" style="height:88%;">
    <input class="child1Nav kui-input"/>
    <li class="child1Nav" @click="push()">Push</li>
    <li class="child1Nav" @click="reset()">Reset 0</li>
    <li class="child1Nav" @click="testOptMenu()">Test Option Menu</li>
    <li class="child1Nav" @click="testSingleSelector()">Test Single Selector</li>
    <li class="child1Nav" @click="testMultiSelector()">Test Multi Selector</li>
    <li class="child1Nav" @click="testDatePicker()">Test Date Picker</li>
    {{#opts}}
      <li class="child1Nav" @click='selected({{__stringify__}})'>{{text}}</li>
    {{/opts}}
  </ul>
</div>
