<div>
  <ul id="child2Nav" class="kui-tab">
    <li class="child2Nav" tabIndex="0">1. HTML</li>
    <li class="child2Nav" tabIndex="1">2. CSS</li>
    <li class="child2Nav" tabIndex="2">3. JavaScript</li>
    <li class="child2Nav" tabIndex="3">4. PHP</li>
    <li class="child2Nav" tabIndex="4">5. Dart</li>
    <li class="child2Nav" tabIndex="5">6. Golang</li>
    <li class="child2Nav" tabIndex="6">7. C++</li>
    <li class="child2Nav" tabIndex="7">8. SQL</li>
  </ul>
  <div id="__kai_tab__">
    <h5>{{ title }}</h5>
    <h5>Local: {{ counter }} / State: {{ $state.counter }}</h5>
    <p>A common task for CSS is to center text or images vertically. Although CSS2 doesn’t supports Vertical aligning . But we can center blocks vertically, by combining a few properties. The trick is to specify that the outer block is to be formatted as a table cell, because the contents of a table cell can be centered vertically. A common task for CSS is to center text or images vertically. Although CSS2 doesn’t supports Vertical aligning . But we can center blocks vertically, by combining a few properties. The trick is to specify that the outer block is to be formatted as a table cell, because the contents of a table cell can be centered vertically.</p>
  </div>
</div>
