<div class="kui-flex-wrap">
  <div class="kai-container">
    <h5 class="kai-text-center">{{ title }}</h5>
    <h5 class="kai-text-center">Local: {{ counter }} & State: {{ $state.counter }} & {{ selected }}</h5>
  </div>
  <ul class="kui-list kai-container">
    {{#subcomponentIds}}
      <div id="{{ . }}" class="child1Nav" @click="plus()"></div>
    {{/subcomponentIds}}
    <li class="child1Nav" @click="push()">Push</li>
    <input class="child1Nav kui-input" value="{{ title }}"/>
    <li class="child1Nav" @click="reset()">Reset 0</li>
    <li class="child1Nav" @click="testToast()">Test Toast</li>
    <li class="child1Nav" @click="testLocalNotification()">Test Local Notification</li>
    <li class="child1Nav" @click="testOptMenu()">Test Option Menu</li>
    <li class="child1Nav" @click="testSingleSelector()">Test Single Selector</li>
    <li class="child1Nav" @click="testMultiSelector()">Test Multi Selector</li>
    <li class="child1Nav" @click="testDatePicker()">Test Date Picker</li>
    <li class="child1Nav" @click="testTimePicker()">Test Time Picker</li>
    {{#opts}}
      <li class="child1Nav" @click='selected({{__stringify__}})'>{{text}}</li>
    {{/opts}}
  </ul>
</span>
