<div style="padding:0px 5px;">
<ul class="kui-tab">
  <li class="child2Nav" tabIndex="0">HTML</li>
  <li class="child2Nav" tabIndex="1">CSS</li>
  <li class="child2Nav" tabIndex="2">JavaScript</li>
  <li class="child2Nav" tabIndex="3">PHP</li>
  <li class="child2Nav" tabIndex="4">Dart</li>
  <li class="child2Nav" tabIndex="5">Golang</li>
  <li class="child2Nav" tabIndex="6">C++</li>
  <li class="child2Nav" tabIndex="7">SQL</li>
</ul>
<h5>{{ title }}</h5>
<h5>Local: {{ counter }}</h5>
<h5>State: {{ $state.counter }}</h5>
<button click="push()">Push</button>
<button click="pop()">Pop</button>
<p>A common task for CSS is to center text or images vertically. Although CSS2 doesn’t supports Vertical aligning . But we can center blocks vertically, by combining a few properties. The trick is to specify that the outer block is to be formatted as a table cell, because the contents of a table cell can be centered vertically. A common task for CSS is to center text or images vertically. Although CSS2 doesn’t supports Vertical aligning . But we can center blocks vertically, by combining a few properties. The trick is to specify that the outer block is to be formatted as a table cell, because the contents of a table cell can be centered vertically.</p>
</div>
