<div style="padding:5px;">
  <div class="lastChildNav" style="text-align:center;">
    <h5 style="text-align:center;">{{ it.title }}</h5>
    <h5 style="text-align:center;">Local: {{ it.counter }} & State: {{ it.$state.counter }}</h5>
  </div>
  <input class="lastChildNav kui-input"/>
  <ul class="kui-list">
    <li class="lastChildNav" @click="plus()">Plus +1</li>
    <li class="lastChildNav" @click="reset()">Reset 0</li>
    <li class="lastChildNav" @click="minus()">Minus -1</li>
  </ul>
</div>
