<div class="kai-container kai-h-100">
  <div class="kai-h-20">
    <h5 class="kai-text-center">{{ title }}</h5>
    <h5 class="kai-text-center">Local: {{ counter }} & State: {{ $state.counter }} & {{ selected }}</h5>
  </div>
  <div class="kai-h-80">
    <input class="lastChildNav kui-input"/>
    <ul class="kui-list">
      <li class="lastChildNav" @click="plus()">Plus +1</li>
      <li class="lastChildNav" @click="reset()">Reset 0</li>
      <li class="lastChildNav" @click="minus()">Minus -1</li>
    </ul>
  </div>
</div>
